@using GAPResource.Models
@model CreateOrderViewModel
@{
    ViewData["Title"] = "New Order Page";
}



@using (Html.BeginForm())
{
    <fieldset>
        @if (ViewBag.Message != null)
        {
            <legend>@ViewBag.Message</legend>
        }
        <legend>Новый заказ</legend>
        <p>
            Город отправителя: <br />
            @Html.DropDownListFor(model => model.SenderCityId, ViewBag.SenderCity as SelectList)
        </p>
        <p>
            Адрес отправителя: <br />
            @Html.TextAreaFor(model => model.SenderAddress, 3, 100, new { htmlAttributes = new {  @class="form-control", maxlength=100 }} )
            @Html.ValidationMessageFor(model => model.SenderAddress)
        </p>

        <p>
            Город получателя: <br />
            @Html.DropDownListFor(model => model.RecipientCityId , ViewBag.RecipientCity as SelectList)
        </p>

        <p>
            Адрес получателя: <br />
            @Html.TextAreaFor(model => model.RecipientAddress, 3, 100, new { htmlAttributes = new { @class="form-control", maxlength=100 }})
            @Html.ValidationMessageFor(model => model.RecipientAddress)
        </p>
        <p>
            Масса груза: <br />
            @Html.EditorFor(model => model.IdWeight, new { htmlAttributes = new { @class="form-control", maxlength=100, type="number", step="0.01", style = "max-width:280px" }})
            @Html.ValidationMessageFor(model => model.IdWeight)
        </p>
        <p>
            Дата забора груза: <br />
            @Html.EditorFor(model => model.IdDate, new { htmlAttributes = new { @type = "date"  } })
            @Html.ValidationMessageFor(model => model.IdDate)
        </p>
        <p>
            <input type="submit" value="Создать заказ" />
        </p>
    </fieldset>
}
<div>
    <input type="button" value="Назад" onclick="location.href='@Url.Action("Index", "Home")'" />
</div>

